@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,600;1,700;1,800&display=swap');

:root {
    --clr-primary: #7380ec;
    --clr-danger: #ff7782;
    --clr-success: #41f1b6;
    --clr-white: #fff;
    --clr-info-dark: #7d8da1;
    --clr-info-light: #dceleb;
    --clr-dark: #363949;
    --clr-warning: #ff4edc;
    --clr-light: rgba(132, 139, 200, 0.18);
    --clr-primary-variant: #111e88;
    --clr-dark-variant: #677483;
    --clr-color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--clr-dark);
    --clr-theme: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    list-style: none;
    appearance: none;
}

body.dark-mode {
    --clr-primary: #7380ec;
    --clr-danger: #FF5722;
    --clr-success: #4CAF50;
    --clr-white: #333;
    --clr-info-dark: #f5f5f5;
    --clr-info-light: #333;
    --clr-dark: #f5f5f5;
    --clr-warning: #ff4edc;
    --clr-light: rgba(255, 255, 255, 0.18);
    --clr-primary-variant: #4CAF50;
    --clr-dark-variant: #f5f5f5;
    --clr-color-background: #333;
    --clr-theme: white;
    background: var(--clr-color-background);
    color: var(--clr-white);
}

#dark-mode-button {
    color: var(--clr-theme);
}

body {
    background: black;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    -webkit-user-select: none;
    user-select: none;
    overflow-x: hidden;
    background: var(--clr-color-background);
}

.container {
    display: grid;
    width: 97%;
    gap: 1.8rem;
    grid-template-columns: 1.5fr 7fr 1fr;
    margin: 0 auto;
}

a {
    color: var(--clr-dark);
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    color: var(--clr-dark);
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.profile-photo img {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--clr-info-dark);
}

p {
    color: var(--clr-dark-variant);
}

b {
    color: var(--clr-dark);
}

.primary {
    color: var(--clr-primary);
}

.success {
    color: var(--clr-success);
}

.danger {
    color: var(--clr-danger);
}

.warning {
    color: var(--clr-warning);
}


/* aside */

.logo {
    color: var(--clr-dark);
}

aside .logo {
    gap: 1rem;
}

aside .logo :nth-child(2) {
    display: none;
}

/* sidebar */
aside .sidebar {
    background-color: var(--clr-color-background);
    display: flex;
    flex-direction: column;
    height: 105vh;
    position: relative;
    top: 1rem;
    border-radius: 12px;
}


aside h3 {
    font-weight: 400;
}

aside .sidebar a {
    display: flex;
    color: var(--clr-dark);
    margin-left: 1rem;
    gap: 1rem;
    align-items: center;
    height: 3.2rem;
    transition: all 0.1s ease-in;
}

aside .sidebar .ntd {
    display: flex;
    color: var(--clr-info-dark);
    margin-left: 1rem;
    gap: 1rem;
    align-items: center;
    height: 3.2rem;
    transition: all 0.1s ease-in;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 0.1s ease-in;
}

aside .sidebar a:last-child {
    /* position: absolute; */
    bottom: 1rem;
    width: 100%;
}

aside .sidebar a:active {
    background: var(--clr-light);
    color: var(--clr-primary);
    margin-left: 0;
}

aside .sidebar a.active::before {
    content: '';
    width: 6px;
    height: 100%;
    background-color: var(--clr-primary);
}

aside .sidebar a:hover {
    color: var(--clr-primary);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
    transition: 0.4s ease;
}

aside .sidebar a span.msg_count {
    background: var(--clr-danger);
    color: var(--clr-white);
    padding: 2px 5px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}



/* main section */
main {
    margin-top: 1.4rem;
    width: auto;
}

main input {
    background-color: transparent;
    border: 0;
    outline: 0;
    color: var(--clr-dark);
}

main .date {
    display: inline-block;
    background-color: var(--clr-white);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
    margin: 30px 0;
}

main .date:hover {
    box-shadow: none;
    cursor: pointer;
}

#DATE {
    cursor: pointer;
}

main .insights {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    gap: 1.4rem;
    cursor: pointer;
}

main .insights>div {
    background-color: var(--clr-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

main .insights>div:hover {
    box-shadow: none;
}

main .insights>div span {
    background: coral;
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--clr-white);
    font-size: 2rem;
}

#income2 {
    background: rgb(21, 194, 220);
}

main .insights>div.expenses span {
    background: var(--clr-danger);
}

main .insights>div.income span {
    background: var(--clr-success);
}

main .insights>div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights>div .middle h1 {
    font-size: 1.6rem;
}

main h1 {
    color: var(--clr-dark);
}

main .insights h1 {
    color: var(--clr-dark);
}

main .insights h3 {
    color: var(--clr-dark);
}

main .insights p {
    color: var(--clr-dark);
}

main .insights .progress {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-display: var(--clr-success);
    position: relative;
    height: 68px;
    width: 68px;
    border-radius: 50%;
}

main .insights svg {
    height: 150px;
    height: 150px;
    width: 100px;
    position: absolute;
    top: 0;
}

main .insights svg circle {
    fill: none;
    stroke: var(--clr-primary);
    transform: rotate(270deg, 80px, 80px);
    stroke-width: 5;
}

.sales {
    width: 100%;
}

main .insights .sales svg circle {
    stroke-dashoffset: 10;
    stroke-dasharray: 150;
}

main .insights .expenses svg circle {
    stroke-dashoffset: 0;
    stroke-dasharray: 150;
}

main .insights .income svg circle {
    stroke: var(--clr-success);
}

main .insights .progress .number {
    position: absolute;
    color: var(--clr-dark);
    top: 5%;
    left: 5%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .recent_order {
    margin-top: 2rem;
}

main .recent_order h2 {
    color: var(--clr-dark);
}

main .recent_order table {
    background-color: var(--clr-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
    color: var(--clr-dark);
    cursor: pointer;
}

main .recent_order table:hover {
    box-shadow: none;
}

main table tbody tr {
    height: 3.8rem;
    border-bottom: 1px solid var(--clr-white);
    color: var(--clr-dark-variant);
}

main table tbody td {
    height: 3.8rem;
    border-bottom: 1px solid var(--clr-dark);
    cursor: pointer;
}

main table tbody tr:last-child td {
    border: none;
}

main .recent_order a {
    text-align: center;
    display: block;
    margin: 1rem;
}

/* right side styling */
.right {
    margin-top: 1.4rem;
}

.right h2 {
    color: var(--clr-dark);
}

.right .top {
    display: flex;
    justify-content: start;
    gap: 2rem;
}

.right .top button {
    display: none;
}

.right .theme-toggler {
    background-color: var(--clr-white);
    background: var(--clr-color-background);
    cursor: pointer;
}

.theme-toggler {
    background-color: var(--clr-white);
    display: flex;
    justify-content: space-between;
    height: 1.6rem;
    border-radius: var(--border-radius-1);
}

.theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-toggler span.active {
    background-color: var(--clr-primary);
    color: #fff;
}

.right .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler span.active {
    background-color: var(--clr-primary);
    color: #fff;
}

.right .top .profile {
    display: flex;
    gap: 2rem;
    text-align: center;
}

.right .info h3 {
    color: var(--clr-dark);
}

.right .item h3 {
    color: var(--clr-dark);
}

/* recent updates */
.recent_update {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 10px;
}

.right .recent_updates {
    margin-top: 1rem;
    /* margin-left: -20px; */
}

.right .recent_updates .updates {
    background-color: var(--clr-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

.right .recent_updates .updates:hover {
    box-shadow: none;
}

.right .recent_updates .update {
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* sales analytics */
.right .sales_analytics {
    margin-top: 1 rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: auto;
    /* gap: 10px; */
}

.right .sales_analytics .item {
    background-color: var(--clr-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    /* margin: 10px 0; */
    width: 100%;
    margin-bottom: 0.8rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

.right .sales_analytics .item:hover {
    box-shadow: none;
    cursor: pointer;
}

.right .sales_analytics .item .icon1 {
    background: coral;
    padding: 0.6rem;
    color: var(--clr-white);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    align-items: center;
    cursor: pointer;
}

.right .sales_analytics .item .icon {
    background: rgb(21, 194, 220);
    padding: 0.6rem;
    color: var(--clr-white);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    align-items: center;
}

.right .sales_analytics .item:nth-last-child(3) .icon {
    background-color: var(--clr-success);
}

.right .sales_analytics .item:nth-last-child(4) .icon {
    background-color: var(--clr-danger);
}

.add_products {
    display: flex;
    height: 60px;
    width: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px dashed;
    color: var(--clr-dark-variant);
    margin: 20px 0;
}

/* Media Queries */
@media screen and (max-width: 1200px) {

    .right .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--clr-dark);
        position: absolute;
        left: 1rem;
    }

    .right .theme-toggler {
        background: none;
    }

    .container {
        margin-top: 60px;
    }

    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 0 0.8rem;
        /* background: var(--clr-color-background); */
        background-color: var(--clr-white);
        width: 100%;
        height: 4.6rem;
        z-index: 5;
        box-shadow: 0 1rem 1rem var(--clr-white);
        margin: 0;
    }

    aside {
        position: fixed;
        width: 18rem;
        z-index: 3;
        background-color: var(--clr-color-background);
        display: none;
    }


    aside .logo :nth-child(2) {
        display: inline;
    }

    .container {
        width: 94%;
        grid-template-columns: 4fr 2fr;
    }

    aside.sidebar h3 {
        display: none;
    }

    aside.sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights {
        display: flex;
        /* grid-template-columns: repeat(1, 1fr); */
        justify-content: space-evenly;
    }

}

@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
        grid-template-columns: 2fr;
        padding: 20px;
        box-sizing: border-box;
    }

    .right .sales_analytics .item {
        width: 100%;
    }

    .sales {
        width: 70%;
    }

    .sales_analytics {
        width: 65%;

    }

    .right {
        margin-top: 2.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        text-align: center;
    }

}

@media screen and (max-width: 700px) {
    aside {
        display: none;
    }

    .right .top button {
        display: inline;
    }

    .container {
        grid-template-columns: 1fr;
    }



    .Date {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main h1 {
        text-align: center;
    }

    main .insights {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    main .recent_order {
        padding: 1rem;
    }

}

@media screen and (max-width: 400px) {
    main .insights>div {
        padding: 1rem;
    }

    .right .theme-toggler {
        width: 3rem;
    }
}