body {
    background-image: url(download\ \(11\).jpeg);
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
}

#goBackButton {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* background-color: #4CAF50; */
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: fixed;
    top: 20px;
    left: 20px;
}

#goBackButton:hover {
    box-shadow: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 10px;
    max-width: 100%;
    box-sizing: border-box;
}


.product-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-image {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
}

.product-title {
    font-size: 18px;
    margin: 10px 0;
}

.product-description {
    font-size: 14px;
    color: #555;
}

.product-price {
    font-size: 16px;
    color: #e67e22;
    font-weight: bold;
}




@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
        padding: 5px;
    }

    .product-card {
        padding: 15px;
    }

    .product-title {
        font-size: 16px;
    }

    .product-description {
        font-size: 12px;
    }

    .product-price {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    body {
        height: auto;
        padding: 10px;
        overflow-y: auto;
    }

    .container {
        grid-template-columns: 1fr;
        gap: 5px;
        padding: 5px;
    }

    .product-card {
        width: 100%;
        padding: 10px;
    }

    .product-title {
        font-size: 14px;
    }

    .product-description {
        font-size: 12px;
    }

    .product-price {
        font-size: 14px;
    }
}

@media (orientation: landscape) and (max-width: 768px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
        padding: 5px;
    }

    .product-card {
        padding: 15px;
    }

    .product-title {
        font-size: 16px;
    }

    .product-description {
        font-size: 12px;
    }

    .product-price {
        font-size: 14px;
    }
}