body {
    background-image: url(download\ \(11\).jpeg);
    padding: 10px;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

.card-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
    max-width: 100%;
    box-sizing: border-box;
}

.message-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
}

#goBackButton {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* background-color: #4CAF50; */
    color: black;
    display: flex;
    align-items: center;
    border: none;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: fixed;
    top: 10px;
    left: 10px;
}

#goBackButton:hover {
    box-shadow: none;
}

.platform {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
}

.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #1da1f2;
}

.linkedin {
    background-color: #0077b5;
}

.message-content {
    padding: 20px;
    flex: 1;
    box-sizing: border-box;
}

.message-content h3 {
    margin: 0;
    color: #333;
}

.message-content p {
    margin: 10px 0;
    color: #555;
}

.timestamp {
    font-size: 0.8em;
    color: #888;
}

/* Media queries for responsiveness */
@media (max-width: 850px) {
    body {
        flex-direction: column;
        padding: 78px;
        justify-content: flex-start;
        align-items: flex-start;

    }
    
    .card-container {
        padding: 10px;
        gap: 10px;
        align-items: center;
    }

    .message-card {
        width: 100%;
    }

    .message-content {
        padding: 10px;
    }

    .platform {
        width: 60px;
    }
}

@media (max-width: 480px) {
    .platform {
        width: 50px;
        font-size: 0.8em;
        padding: 5px;
    }

    .message-content {
        padding: 5px;
    }

    .message-content h3 {
        font-size: 1em;
    }

    .message-content p {
        font-size: 0.9em;
    }
}
