body {
    background: url('download (11).jpeg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    position: relative;
    min-height: 100vh;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit; 
    z-index: 1;
}

.welcome-message {
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly opaque white background */
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.welcome-message h1 {
    color: #007bff;
}

.welcome-message p {
    color: #333;
}

form {
    position: relative;
    z-index: 2;
    border-radius: 20px;
    margin-top: 150px !important;
    width: 24% !important;
    background-color: lightgrey; 
    padding: 50px;
    margin: 0 auto; /* Center the form */
}

.btn-primary {
    width: 100%;
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(75, 14, 154, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.form-control {
    color: rgba(0, 0, 0, .87);
    border-bottom-color: rgba(0, 0, 0, .42);
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
}

h4 {
    font-size: 2rem !important;
    font-weight: 700;
    text-align: center;
    color: #333;
}

.form-label {
    font-weight: 800 !important;
    color: #333;
}

#forgot-password {
    color: #007bff;
    text-decoration: none;
    display: block;
    margin-top: 15px;
}

#forgot-password:hover {
    text-decoration: underline;
}

#message {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    form {
        width: 90% !important;
    }
}
